@model EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "EditCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Kategori Güncelleme Sayfası</h1>
@using (Html.BeginForm("EditCategory", "AdminCategory", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Kategoi ID")
        @Html.TextBoxFor(x => x.CategoryId, new { @class = "form-control" })
        <br />
        @Html.Label("Kategoi Adı")
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
        <br />
        @Html.Label("Kategoi Açıklama")
        @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control" })
        <br /><br />
        <button class="btn btn-success">Güncelle</button>
    </div>
}
